.baseInfoDetails {
  width: 1440px;
  margin: 0 auto;
  // padding: ;
  padding-bottom: 110px;
  position: relative;

  .baseInfo-header {
    width: 100%;
    // height: 83px;
    padding: 36px 17px 18px;
    background: rgba(68, 114, 236, 0.06);
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;

    color: #1F2229;

    p {
      margin: 0;
    }

    margin-bottom: 10px;
  }

  .info-title {
    display: flex;

    span {
      font-size: 16px;
      color: #F05E41;
    }

    p {
      font-size: 16px;
      color: #1F2229;
      margin: 0;
      margin-left: 5px;
    }
  }

  .ant-collapse-content>.ant-collapse-content-box {
    padding: 0;
    // padding-top: 30px;
  }

  .ant-collapse-content {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12)
  }

  .ant-collapse-header {
    background: #F8F8FA;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    padding: 8px 16px !important;
  }

  .inner-header {
    border-bottom: none;

    .ant-collapse-header {
      background: #fff;
    }

    .info-span {
      font-size: 16px;
      color: #F05E41;
    }

    p {
      font-size: 13px;
      color: #5C6E7C;
      margin: 0;
      margin-left: 5px;
    }
  }

  .base-form {
    width: 680px;
    margin: 0 auto;
    margin-top: 30px;

    .ant-checkbox-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .ant-checkbox-group-item {
        width: 33%;
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }

  .base-form-add {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .base-footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 40px;
    width: 100%;

    .submit {
      width: 60px;
      height: 32px;
      background: linear-gradient(263.91deg, rgba(64, 116, 255, 0.86) 17.25%, #4472EC 105.19%);
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
      border-radius: 20px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 32px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
    }

  }
}