body {
  background-color: #fff !important;

  .answer-detail {
    width: 1440px;
    min-height: 100% !important;
    margin: auto;

    .content {
      width: 1440px;
      min-height: 100%;
      margin: auto;
      background-color: #F8F8FA;
    }

    .top {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 26px;
      width: 1440px;
      height: 83px;
      background: #FFFFFF;
      padding: 20px 30px;

      .card-free {

        display: flex;
        // flex-direction: row;
        align-items: center;
        justify-content: center;

        .free-tip {
          .free-tip-p {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            /* or 23px */

            text-transform: uppercase;

            /* Text/Black */

            color: #1F2229;
            margin-bottom: 4px;
            display: flex;
            align-items: center;

            span {
              display: inline-block;
              margin-right: 5px;
            }
          }

          .tip-span {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            /* or 18px */
            text-transform: uppercase;
            color: #3A3E43;
          }
        }

        .top-botton {
          width: 88px;
          height: 44px;
          margin-left: 26px;
          cursor: pointer;
        }
      }

      .top-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 38px;

        .top-botton {
          width: 122px;
          height: 44px;
          border-radius: 36px;
          cursor: pointer;
        }

        .right-totle {
          width: 295px;
          height: 64px;
          border: 1px solid #DCDCDC;
          border-radius: 15px;
          display: flex;
          justify-content: space-between;
          padding: 10px 17px;
          box-sizing: border-box;

          .right-item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #ccc;
            padding-right: 14px;

            .right-div-null {
              width: 15px;
              height: 15px;
              border-radius: 2px;
              border: 1px solid #ccc;
              margin-right: 12px;
            }

            .right-div-blue {
              width: 15px;
              height: 15px;
              border-radius: 2px;
              background: linear-gradient(263.91deg, rgba(64, 116, 255, 0.86) 17.25%, #4472EC 105.19%);
              margin-right: 12px;
            }

            .right-font {
              font-family: 'PingFang SC';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              text-transform: uppercase;
              color: #3A3E43;

            }

            .right-num {
              font-family: 'PingFang SC';
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 130%;
              text-transform: uppercase;
              color: #3A3E43;

            }
          }

        }

      }

      .top-botton {
        height: 42px;
        background: linear-gradient(263.91deg, rgba(64, 116, 255, 0.86) 17.25%, #4472EC 105.19%);
        text-align: center;
        line-height: 42px;
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FBFBFB;
        border-radius: 36px;
      }
    }

    .bottom {
      width: 100%;
      min-height: 1134px;
      display: flex;
      margin-top: 8px;
      padding-bottom: 20px;

      .bottom-left {
        width: 253px;
        min-height: 100%;
        margin-right: 16px;
        border-right: 1px solid #EEEEEE;
        background-color: #fff;
      }

      .bottom-right {
        position: relative;
        flex: 1;
        min-height: 100%;
        background-color: #fff;

        .bottom-right-content {
          background: #fff;
          position: relative;
          padding-bottom: 80px;

          .question {
            position: relative;
            display: flex;
            background: #fff;
            padding: 24px 25px;
            align-items: center;
            height: 132px;
            border-bottom: 1px solid #EEEEEE;


            .second-title {
              width: 705px;
              white-space: pre-wrap;
              word-break: break-all;
              margin-right: 77px;
              background: #fff;
              font-family: 'SF Pro Display';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #1F2229;
              margin-bottom: 0;
            }

            .result {
              display: flex;
              justify-content: space-between;
              cursor: pointer;

              svg {
                width: inherit;
                height: inherit;
                color: #dcdcdc;
              }

              .marked {
                background: linear-gradient(180deg, #ffed46 25%, #ffb341 100%);
                box-shadow: 0 4px 4px rgb(208 221 237 / 16%);
              }

              >p {
                border: 1px solid rgb(0 0 0 / 12%);
                border-radius: 6px;
                width: 34px;
                height: 34px;
                margin: 0;
                margin-right: 8px;
                text-align: center;

                >img {
                  width: 24px;
                  height: 24px;
                  margin-top: 3px;
                }
              }

              .options {
                border: 1px solid rgb(0 0 0 / 12%);
                border-radius: 6px;
                height: 34px;
                line-height: 34px;
                display: flex;
                color: #646b73;
                font-size: 14px;

                >span {
                  width: 68px;
                  height: 34px;
                  white-space: nowrap;
                  display: inline-block;
                  text-align: center;
                  border-right: 1px solid rgba(0, 0, 0, 0.12);
                  font-weight: 500;

                  &:first-child {
                    border-radius: 6px 0 0 6px;
                  }

                  &:last-child {
                    border: none;
                    border-radius: 0 6px 6px 0;
                  }
                }

                .active {
                  color: #fff;
                  background: linear-gradient(263.91deg,
                      rgba(64, 116, 255, 0.86) 17.25%,
                      #4472ec 105.19%);
                }
              }
            }
          }

          .bottom {
            .first-title {
              white-space: pre-wrap;
              word-break: break-all;
              padding: 12px 16px;
              background: #f7f9ff;
              margin: 12px 0;
              font-size: 16px;
              color: #1f2229;
            }
          }

          .footer {
            position: absolute;
            width: 100%;
            height: 46px;
            display: flex;
            bottom: 10px;
            justify-content: center;
            margin: auto;
            gap: 32px;
            margin-top: 20px;

            .btn {
              box-sizing: border-box;
              width: 242px;
              height: 46px;
              line-height: 46px;
              background: #FFFFFF;
              border: 1px solid #4074FF;
              border-radius: 38px;
              text-align: center;
              font-weight: bolder;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #4074FF;
              cursor: pointer;
            }

            .two {
              background: linear-gradient(263.91deg, rgba(64, 116, 255, 0.86) 17.25%, #4472EC 105.19%);
              color: #fff;
            }
          }
        }

        // .footer{
        //   position: absolute;
        //   width: 100%;
        //   height: 46px;
        //   display: flex;
        //   justify-content: center;
        //   margin:auto;
        //   gap:32px;
        //   margin-top: 20px;       
        //   .btn {
        //     box-sizing: border-box;
        //     width: 242px;
        //     height: 46px;
        //     line-height: 46px;
        //     background: #FFFFFF;
        //     border: 1px solid #4074FF;
        //     border-radius: 38px;
        //     text-align: center;
        //     font-weight: bolder;
        //     font-family: 'Roboto';
        //     font-style: normal;
        //     font-weight: 400;
        //     font-size: 14px;          
        //     color: #4074FF;
        //     cursor: pointer;        
        //   }
        //   .two{         
        //     background: linear-gradient(263.91deg, rgba(64, 116, 255, 0.86) 17.25%, #4472EC 105.19%);
        //     color:#fff;        
        //   }
        // }
      }
    }

    // menu样式
    .ant-menu-submenu-title {
      padding-left: 7px !important;

    }

    .item {
      display: flex;

      .item-content {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;

      }
    }

    .ant-progress-inner {
      background-color: #DDDDDD;
    }

  }
}