.index{
  position: relative;
  font-family: 'PingFang SC';
  user-select: none;
  letter-spacing: 1px;
  .section{
    width: 100vw;
    height: 100vh;
  }
  &-carousel{
    width: 100vw;
    height: 100vh;
  }
  &-arrow{
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 88px;
    height: 88px;
    cursor: pointer;
  }
}

.section1{
  display: flex;
  flex-direction: column;
  &-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: url('~@/assets/img/index/section1-top-bg.png') no-repeat;
    background-size: 100%;
    &-title{
      font-weight: 400;
      font-size: 42px;
      color: #FFFFFF;
    }
    &-desc{
      margin: 18px 0 36px 0;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
    }
    &-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 16px 12px 17px;
      width: 192px;
      height: 64px;
      background: linear-gradient(90deg, #4074FF -0.34%, #4472EC 99.66%);
      border-radius: 36px;
      font-weight: 600;
      font-size: 24px;
      color: #FBFBFB;  
      cursor: pointer;      
    }
  }
  &-bottom{
    height: 40vh;
    &-title{
      margin: 40px;
      font-weight: 400;
      font-size: 36px;
      text-align: center;
      color: #1F2229;
    }
  }
  &-carousel{
    &-item{
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    &-card{
      margin: 12px;
      width: 340px;
      height: 340px;
      &-img{
        width: 100%;
        height: 160px;
      }
      &-title{
        margin: 16px 0 8px 0;
        padding: 0 12px;
        font-weight: 400;
        font-size: 22px;
        color: #1F2229;
      }
      &-desc{
        padding: 0 12px;
        white-space: break-spaces;
        font-weight: 400;
        font-size: 14px;
        color: #3A3E43;
      }
    }
  }
}

.section2{
  position: relative;
  background: rgba(241, 243, 249, 0.78);
  &-bg{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &-title{
    position: absolute;
    left: 50%;
    top: 15vh;
    font-weight: 400;
    font-size: 46px;
    color: #1F2229;
    transform: translateX(-50%);
  }
  &-desc{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(142, 141, 208, 0.16);
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #0D3464;
    &::before{
      content: '';
      display: block;
      margin: 8px;
      width: 8px;
      height: 8px;
      background: #4472EC;      
      border-radius: 50%;
    }
  }
}

.section3{
  position: relative;
  background: url('~@/assets/img/index/section3-bg.png') no-repeat;
  background-size: 100% 100%;
  &-title{
    position: absolute;
    left: 50%;
    top: 15vh;
    font-weight: 400;
    font-size: 46px;
    color: #FFFFFF;
    transform: translateX(-50%);
  }
  &-desc{
    position: absolute;
    left: 50%;
    top: 25vh;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    color: #EFFDFE;
    transform: translateX(-50%);
  }
  &-carousel{
    position: absolute;
    left: 50%;
    top: 35vh;
    width: 1000px;
    transform: translateX(-50%);
    height: 400px;
    &-item{
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-content{
        padding: 30px 110px;
        width: 98%;
        background: rgba(217,217,217, 0.8);
        border-radius: 15px;
        font-weight: 400;
        font-size: 18px;
        color: #1F2229;
      }
      &-avatar{
        margin: 22px;
        width: 68px;
        height: 68px;
        border-radius: 50%;
      }
      &-info{
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
      }
    }
  }
}

.section4{
  position: relative;
  background: rgba(241, 243, 249, 0.78);
  &-title{
    position: absolute;
    left: 50%;
    top: 15vh;
    font-weight: 400;
    font-size: 46px;
    color: #1F2229;
    transform: translateX(-50%);
  }
  &-content{
    position: absolute;
    left: 50%;
    top: 25vh;
    display: flex;
    width: 1000px;
    height: 500px;
    transform: translateX(-50%);
    &-left{
      flex: 1;
      padding: 46px 52px;
      background: rgba(255, 255, 255, 0.5);
    }
    &-right{
      flex: 1;
      padding: 46px 52px;
      background: rgba(195, 214, 251, 0.3);
    }
    &-title{
      font-weight: 600;
      font-size: 28px;
      color: #779BFF;
    }
    &-project{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px 0;
      &-name{
        font-weight: 400;
        font-size: 18px;
        color: #1F2229;
      }
      &-open{
        width: 18px;
        height: 18px;
      }
    }
    &-btn{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -150px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 438px;
      height: 64px;
      background: linear-gradient(90deg, #4074FF -0.34%, #4472EC 99.66%);
      box-shadow: 0px 16px 24px rgba(100, 103, 107, 0.24);
      border-radius: 36px;
      font-weight: 600;
      font-size: 24px;
      color: #FBFBFB;     
      cursor: pointer; 
    }
  }
}

// antd
.index{
  .slick-dots{
    right: 40px;
    li{
      margin: 6px;
      height: auto !important;
      width: auto !important;
    }
    button{
      width: 10px !important;
      height: 10px !important;
      border-radius: 10px !important;
      background: #C3D6FB !important;
      box-shadow: 0px 0px 8px 0px #4472EC;
    }
    .slick-active{
      button{
        width: 10px !important;
        height: 24px !important;
        border-radius: 10px !important;
        background: #4472EC !important;
      }
    }
  }
}
.section1{
  .slick-dots{
    top: auto;
    bottom: 0;
    left: 50%;
    flex-direction:row;
    li{
      margin: 6px;
      height: auto !important;
      width: auto !important;
    }
    button{
      width: 10px !important;
      height: 10px !important;
      border-radius: 10px !important;
      background: #C3D6FB !important;
      box-shadow: 0px 0px 8px 0px transparent;
    }
    .slick-active{
      button{
        width: 24px !important;
        height: 10px !important;
        border-radius: 10px !important;
        background: #4472EC !important;
      }
    }
  }
}
.section3{
  .slick-dots{
    top: auto;
    bottom: 0;
    left: 50%;
    flex-direction:row;
    li{
      margin: 6px;
      height: auto !important;
      width: auto !important;
    }
    button{
      width: 10px !important;
      height: 10px !important;
      border-radius: 10px !important;
      background: #C3D6FB !important;
      box-shadow: 0px 0px 8px 0px transparent;
    }
    .slick-active{
      button{
        width: 10px !important;
        height: 10px !important;
        border-radius: 10px !important;
        background: #4472EC !important;
      }
    }
  }
}
